# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual environments
venv/
.venv/
ENV/
env/
# Just in case duplicates
/venv/
/venv

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Ignore all migration files recursively, including __init__.py
**/migrations/*.py

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# PyCharm
.idea/

# Node.js dependencies
node_modules/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# Test outputs
junit.xml
